<section class="about" id="about">
  <div class="max-width">
    <h2 class="title">{{title}} <i class="fa fa-hand-peace-o" aria-hidden="true"></i></h2>
    <div class="about-content ">
      <div class="column left mt-5">
        <img src="{{url}}" alt="Profile Image ">
      </div>
      <div class="column right">
        <div class="text">{{text1}}<span class="typing-2"></span></div>
        <p> frontend developer Seeking an entry-level opportunity with an esteemed organization where I can utilize my skills & enhance
          learning in the field of work. Capable of mastering new technologies.</p>
        <br>
        <div class="text">{{why}}</div>
        <p>
          {{work}}
        </p>
 <a href="https://drive.google.com/file/d/1wEp8wDW1oqvlMnSSPuwE_nlt9fHRor4n/view?usp=drivesdk" target="blank" class="text-decoration-none">Resume</a>
      </div>
    </div>
  </div>
</section>



