<div class="container mt-5"><h2 class="text-center mt-4 text">{{title}}</h2>
<p class="textp text-center mt-5">{{content}}</p>
  
  <div class="container mt-1">
   
 <div class=" container con-img mt-2 " data-aos="fade-right">
  <img src="assets/images/bootstrap.png" alt="Bootstrap" class="skill-image">
  <img src="assets/images/htm.png" alt="HTML" class="skill-image">
  <img src="assets/images/java.png" alt="Java" class="skill-image">
  <img src="assets/images/js.png" alt="JavaScript" class="skill-image">
  <img src="assets/images/csss.png" alt="CSS3" class="skill-image">
  <img src="assets/images/Git.png" alt="Git" class="skill-image">
  <img src="assets/images/angular.png" alt="Git" class="skill-image">
     <img src="assets/images/gitl.png" alt="gitl" class="skill-image">
</div>
</div>


<div class="container mt-1">
  <h3 class=" text text-center mt-4 ">{{nextcontent}}</h3>
  <div class="container con-img " data-aos="fade-left">

  <img src="assets/images/nod.png" alt="nodejs" class="skill-image">
  <img src="assets/images/mangodb.png" alt="Git" class="skill-image">
  <img src="assets/images/react.png" alt="nodejs" class="skill-image">
  <img src="assets/images/spring.jpeg" alt="spring" class="skill-image">
  <img src="assets/images/exprees.png" alt="exjs" class="skill-image">

</div>
</div>
</div>


