
<div class="container mt-5">
    <h2 class="text-center title">My <span class="second-word">Projects</span></h2>

    <div class="card-flex-container">
        <div class="card" data-aos="zoom-in-up">
            <mat-card class="example-card">
                
                <img  src="assets/images/netflix.jpeg" alt="Photo of a Shiba Inu">
                <mat-card-content class="mt-4">
                    <h2>Netflix Clone</h2>
                    <p>
                        Netfliclone is a great choice for anyone who wants to watch movies and TV shows online.
                        It is easy to use, has a wide selection of content, and offers a variety of features. If you are
                        looking for
                        a reliable and user-friendly streaming application, Netfliclone is a great option.All movies i
                        gave
                        youtubelink trailer videos
                    </p>
                </mat-card-content>
                <mat-card-actions class="mt-2">
                    <button mat-raised-button (click)="openDialog()">Click Here -></button>
                   
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="card" data-aos="zoom-in-up"> <mat-card class="example-card">
               
                <img mat-card-image src="assets/images/quiz.jpeg" alt="Photo of a Shiba Inu">
                <mat-card-content class="mt-4">
                    <h2>Quiz App</h2>
                    <p>
                        Typescript quiz is the primary component of this application, which consists of ten
                        different typescript quizzes and is being created by angular javascript .json for display
                        purposes.There are
                        ten marks for every correct answer and ten negative marks for every wrong answer, and then all
                        the
                        marks are
                        displayed at the end.
                    </p>
                </mat-card-content>
                <mat-card-actions class="mt-3">
                    <button mat-raised-button (click)="openDialog2()">Click Here -></button>
                    
                </mat-card-actions>
            </mat-card></div>
        <div class="card" data-aos="zoom-in-up"> <mat-card class="example-card">
                
                <img mat-card-image  src="assets/images/food.jpeg" alt="Photo of a Shiba Inu">
                <mat-card-content class="mt-4">
                    <h2>Food Order</h2>
                    <p>
                        I use Angular and TypeScript in this app to create the display, also to show the
                        categories and order page, which are all available in the food API and which I inject through an
                        Angular
                        application. In order to develop this app, I use the types available in the API and inject them
                        through an
                        Angular app to create the app
                    </p>
                </mat-card-content>
                <mat-card-actions class="mt-2">
                    <button mat-raised-button (click)="openDialog3()">Click Here -></button>
                    
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
